<span class="brand-name">
<span style="color: #d43f77">D</span
><span style="color: #e3ae22; font-size: 0.75em">&amp;</span
><span style="color: #007bff">S</span>
<span class="brand-painting">Måleri</span>
</span>