<!DOCTYPE html>
<html class="no-js" lang="sv">
  <meta
    charset="utf-8"
    http-equiv="content-type"
    content="text/html; charset=UTF-8"
  />
  <title>Målare, Målarfirma, Fönsterputs Malmö - D&amp;S Måleri</title>
  <meta
    name="description"
    content="D&amp;S Måleri är ett förstklassigt, fullservice måleriföretag som erbjuder sina tjänster i Malmö."
  />
  <meta name="keywords" content="måleri,målning,måleriföretag,målare,Malmö" />
  <meta name="author" content="Erik Kabashi" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <meta http-equiv="Content-Security-Policy" content="upgrade-insecure-requests">
  <link rel="preconnect" href="https://fonts.gstatic.com" />
  <link rel="preconnect" href="https://cdnjs.cloudflare.com" />
  <link rel="dns-prefetch" href="https://fonts.googleapis.com" />

  <script type="text/javascript">
    var _gaq = _gaq || [];
    var pluginUrl = "//www.google-analytics.com/plugins/ga/inpage_linkid.js";
    _gaq.push(["_require", "inpage_linkid", pluginUrl]);
    _gaq.push(["_setAccount", "UA-36946765-1"]);
    _gaq.push(["_trackPageview"]);
    (function () {
      var ga = document.createElement("script");
      ga.type = "text/javascript";
      ga.async = true;
      ga.src =
        ("https:" == document.location.protocol
          ? "https://ssl"
          : "http://www") + ".google-analytics.com/ga.js";
      var s = document.getElementsByTagName("script")[0];
      s.parentNode.insertBefore(ga, s);
    })();
  </script>
  <!-- <link rel="stylesheet" href="assets/css/animate.css" /> -->
  <!-- <link rel="stylesheet" href="assets/css/magnific-popup.css" /> -->
  <link rel="stylesheet" href="assets/css/slick.css" />
  <link rel="stylesheet" href="assets/css/slick-theme.css" />
  <link rel="stylesheet" href="assets/css/LineIcons.css" />
  <link rel="stylesheet" href="assets/css/font-awesome.min.css" />
  <link rel="stylesheet" href="assets/css/bootstrap.min.css" />
  <link rel="stylesheet" href="assets/css/default.css" />
  <link rel="stylesheet" href="assets/css/style.css" />
  <link
    href="https://fonts.googleapis.com/css2?family=Fira+Code:wght@400&family=Raleway:wght@300&display=swap"
    rel="stylesheet"
  />
  <link
    href="https://fonts.googleapis.com/css?family=Poppins:400,700|Lato:300,400,700&display=swap"
    rel="stylesheet"
  />

  <script
    src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"
    crossorigin="anonymous"
    referrerpolicy="no-referrer"
  ></script>

  <script
    src="assets/scripts/slick.min.js"
    crossorigin="anonymous"
    referrerpolicy="no-referrer"
    defer
  ></script>
  <script src="assets/scripts/main.js" defer></script>
  <body>
    {{ content }}
  </body>
</html>
