---
layout: main-layout.liquid
---

<input type="checkbox" id="menu-toggle" />
<header>
  <div class="navbar-area">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <nav class="navbar navbar-expand-lg">
            <a class="navbar-brand" href="#"> {% include logo.liquid %} </a>

            <div class="nav-wrapper">
              <button
                class="navbar-toggler"
                type="button"
                data-toggle="collapse"
                data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent"
                aria-expanded="false"
                aria-label="Toggle navigation"
              >
                <label for="menu-toggle">
                  <span class="toggler-icon"></span>
                  <span class="toggler-icon"></span>
                  <span class="toggler-icon"></span>
                </label>
              </button>
              <div
                class="navbar-collapse sub-menu-bar"
                id="navbarSupportedContent"
              >
                <ul id="nav" class="navbar-nav ml-auto">
                  <li class="nav-item">
                    <a
                      class="page-scroll"
                      onclick="closeNavbar()"
                      href="#services"
                      >Tjänster</a
                    >
                  </li>
                  <li class="nav-item">
                    <a class="page-scroll" onclick="closeNavbar()" href="#about"
                      >Om oss</a
                    >
                  </li>
                  <li class="nav-item">
                    <a
                      class="page-scroll"
                      onclick="closeNavbar()"
                      href="#footer"
                      >Kontakta oss</a
                    >
                  </li>
                </ul>
              </div>
            </div>
          </nav>
        </div>
      </div>
    </div>
  </div>

  <div id="home" class="header-hero bg_cover">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <div class="row justify-content-center">
            <div class="col-lg-8">
              <div class="header-hero-content text-center">
                <h3 class="header-sub-title">D&S Måleri</h3>
                <h2 class="header-title">Vi sätter färg på din tillvaro!</h2>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</header>
<main class="content" id="content">{{ content }}</main>

<footer id="footer" class="footer-area pt-120">
  <div class="container">
    <div class="subscribe-area">
      <form id="request-form" action="mailto:info@ds-maleri.se" target="_blank">
        <div class="row">
          <div class="col-lg-12">
            <div class="subscribe-content mt-45">
              <h2 class="subscribe-title">
                Maila oss <span>om era behov</span>
              </h2>
            </div>
          </div>
          <div class="col-lg-12">
            <div class="subscribe-form mt-50">
              <textarea
                required
                aria-required="true"
                name="body"
                placeholder="Ställ din fråga / beskriv dina önskemål"
              ></textarea>
            </div>
            <div class="subscribe-form mt-10">
              <button class="main-btn">Skicka</button>
            </div>
          </div>
        </div>
      </form>
    </div>
    <div class="footer-widget pb-100">
      <div class="row">
        <div class="col-lg-6 col-md-12 col-sm-8">
          <div class="footer-about mt-50">
            <a class="logo" href="#" style="font-size: 1.5rem; color: white">
              {% include logo.liquid %}
            </a>
            <!-- <ul class="social">
              <li>
                <a
                  target="_blank"
                  rel="noreferrer"
                  href="https://www.facebook.com/DS-M%C3%A5leri-245693602251373/"
                  ><i class="lni-facebook-filled"></i
                ></a>
              </li>
              <li>
                <a href="#"><i class="lni-instagram-filled"></i></a>
              </li>
              <li>
                <a href="#"><i class="lni-linkedin-original"></i></a>
              </li>
            </ul> -->
          </div>
        </div>
        <div class="col-lg-3 col-md-6 col-sm-12">
          <div class="footer-link d-flex mt-50 justify-content-md-between">
            <div class="link-wrapper">
              <div class="footer-title">
                <h4 class="title">Länkar</h4>
              </div>
              <ul class="link">
                <li><a href="#">Hem</a></li>
                <li><a href="#services">Tjänster</a></li>
                <li><a href="#about">Om oss</a></li>
              </ul>
            </div>
          </div>
        </div>
        <div class="col-lg-3 col-md-6 col-sm-12">
          <div class="footer-contact mt-50">
            <div class="footer-title">
              <h4 class="title">Kontakta oss</h4>
            </div>
            <ul class="link contact">
              <li>
                <a href="tel:+46703104860" referrerpolicy="no-referrer"
                  >0703-10 48 60</a
                >
              </li>
              <li>
                <a
                  href="mailto:info@ds-maleri.se"
                  referrerpolicy="no-referrer"
                  target="_top"
                  >info@ds-maleri.se</a
                >
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>
